extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- My name as a heading for the About page
        h1 Kit Kogan
        | Minneapolis, MN
        
        p.lead.text-light
          | Software developer, creative thinker, and lifelong learner 
        //- My bio/info
        .portfolio-bio
          p
            | I am currently pursuing a Full Stack JavaScript certification through the Treehouse TechDegree program. 
            br
            | As a naturally inquisitive and detail oriented person, I have always had a strong drive and ability to learn new technical and creative concepts.
            | Many of my personal interests and hobbies are skills I've learned through independent pursuit of information and lots of pracice, which are just a couple of 
            | the qualities that I feel have helped suit me well for this industry.
            br
            | Through the foundational coursework and unit projects I've completed, I have had the opportunity to see the advancement of my skillset on a daily basis. 
            | I've found the work to be both challenging and a lot of fun, which has been further affirmation that my efforts have been well placed. 
            br
            | I’m already thinking ahead to the myriad other coding languages and opportunities for growth in my future, which is quite exciting for me!
            br
            | I am confident that my unique skillset and point of view would make me a valuable member of any project or team I have the opportunity to contribute to.

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

          //- some of my skills
        ul
          li JavaScript
          li HTML
          li CSS
          li jQuery
          li Git/command line 
          li Express
          li Form validation and submission
          li Object oriented programming
          li DOM traversal and manipulation
          li Public API requests
          li Node, and more!

        h6 Contact Info

        //- my contact info
        ul
          li 503-957-5638
          li kkogan.dev@gmail.com

        //- URLs to social media accounts. need to set up twitter and linkedIn and add ASAP
        a.button.expanded(href='') LinkedIn
        a.button.expanded(href='https://github.com/kitkogan') GitHub
        a.button.expanded(href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  