extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- My name
        h1 Kit Kogan
        | Minneapolis, MN
        //- My title
        p.lead.text-light
          | Web Developer // Software Engineer
        //- My bio
        .portfolio-bio
          p
            | As a naturally inquisitive and detail oriented person, I have always had a strong drive and ability to learn new technical and creative concepts.
            | Many of my personal interests and hobbies are skills I've learned through independent pursuit of information and lots of practice, which are just a couple of 
            | the qualities that I feel suit me well for this industry.
            br
            | Through structured learning, self-guided courses, and real world experience, I have had the opportunity to see the advancement of my skillset on a daily basis. 
            | I've found the work to be both challenging and a lot of fun, which has been further affirmation that my efforts have been well placed. 
            br
            | I am determined to use my coding powers for good and am primarily seeking roles where this potentiality is evident.
            br
            | I am confident that my unique skill set and point of view would make me a valuable member on any project or team I have the opportunity to contribute to.
            br
            br
            | Feel free to contact me for inquiries!

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- My skills 
        ul
          li JavaScript
          li HTML
          li CSS/Bootstrap
          li jQuery
          li Git/command line 
          li Express
          li Public API requests
          li Node
          li Axios/Ajax
          li React/Redux/Sagas
          li Socket.io
          li React Native
          li PostgreSQL/SQL/Postico/PgAdmin
          li Pug
          li Python
          li Moment
          li React Big Calendar
          li Angular 9
          li Django
          li Django Core Mail
          li Pillow

        h6 Contact Info

        //- My contact info
        ul
          li kkogan.dev@gmail.com

        //- My social media
        a.button.expanded(href='www.linkedin.com/in/kit-kogan') LinkedIn
        a.button.expanded(href='https://github.com/kitkogan') GitHub
        //- a.button.expanded(href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  