extends layout.pug
//- displays error in browser when user navigates to page that does not exist
block content
    .error
        h1 Uh-oh, something went wrong!
        h2= error.status
        br
        pre= error.stack