extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      //- Heading for project gallery 
      h1 Some samples of my work:

      //- Description of the purpose of portfolio website and projects contained in it 

      p.lead.text-light
        | As a self identified 'maker,' I have found coding to lend itself well to my creative interests and 
        | natural inclination towards curiosity and problem solving. Continued learning and sharing of information
        | is important to me and I highly value the opportunities I've had to be both a learner and a teacher.
        | Above that, my primary motivations are driven by a desire to help others and intention to contribute 
        | my unique skill set to the support of positive social change. 
        br
        br 
        | Below are recent samples of some of my favorite projects I have made.
        br

  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      //- Pug `each` iterator creates a project img, title and link in the markup for each of the projects in gallery.  
      
      //- a combination of interpolation and template literals used to dynamically generate the the routes in the href, as well as the img's src and the projects title.
      each project in projects
        .cell
          a(href=`projects/${project.id}`)
            image.thumbnail(src=`${project.image_urls[3]}`)
            h5= project.project_name
      

   
      
